<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>dplus</display-name>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<description></description>
		<display-name>NewsDatabaseQueryServlet</display-name>
		<servlet-name>NewsDatabaseQueryServlet</servlet-name>
		<servlet-class>org.silentsquare.dplus.bbctnews.NewsDatabaseQueryServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NewsDatabaseQueryServlet</servlet-name>
		<url-pattern>/queryNewsDB</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>NewsDatabaseQueryByRouteServlet</display-name>
		<servlet-name>NewsDatabaseQueryByRouteServlet</servlet-name>
		<servlet-class>org.silentsquare.dplus.bbctnews.NewsDatabaseQueryByRouteServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NewsDatabaseQueryByRouteServlet</servlet-name>
		<url-pattern>/queryNewsDBByRoute</url-pattern>
	</servlet-mapping>
 	
	<servlet>
		<description></description>
		<display-name>NewsDatabaseUpdateServlet</display-name>
		<servlet-name>NewsDatabaseUpdateServlet</servlet-name>
		<servlet-class>org.silentsquare.dplus.bbctnews.NewsDatabaseUpdateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NewsDatabaseUpdateServlet</servlet-name>
		<url-pattern>/updateNewsDB</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>NewsDatabaseMonitorServlet</display-name>
		<servlet-name>NewsDatabaseMonitorServlet</servlet-name>
		<servlet-class>org.silentsquare.dplus.bbctnews.NewsDatabaseMonitorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NewsDatabaseMonitorServlet</servlet-name>
		<url-pattern>/monitorNewsDB</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
