<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- Feed list builder -->
	<bean id="feedListBuilder" class="org.silentsquare.dplus.bbctnews.FeedListBuilder">
    	<property name="url" value="http://www.bbc.co.uk/travelnews/tpeg/rss.opml"/>
    </bean>
    
    <!-- Feed Reader -->
	<bean id="feedReader" class="org.silentsquare.dplus.bbctnews.FeedReader">
    </bean>
    
    <!-- Coordinate finder -->
	<bean id="coordinateFinder" class="org.silentsquare.dplus.bbctnews.CoordinateFinder">			
		<property name="geoURL" value="http://maps.google.com/maps/geo?output=json&amp;oe=utf8&amp;sensor=false"/>
		<property name="apiKey" value="ABQIAAAAj1DqbVODIwfxFozz52vGCBTBKtqaU_qKk-cwvy6tFS36W-EYRhTQIx4Jc7ffCTqfgjkPZSJocVxSCA"/>
    </bean>
    
    <!-- News database for Google App Engine -->
	<bean id="gaeNewsDatabase" class="org.silentsquare.dplus.bbctnews.GAENewsDatabase">
		<!-- Persistence manager factory name, see META-INF/jdoconfig.xml -->
		<constructor-arg value="transactions-optional"/> 
    	<property name="feedListBuilder" ref="feedListBuilder"/>
    	<property name="feedReader" ref="feedReader"/>
    	<property name="coordinateFinder" ref="coordinateFinder"/>
    	<property name="expectedUpdateWallTime" value="25"/> <!-- in seconds --> 
    	<property name="systemInfoId" value="systemInfo"/>
    	<property name="updateProcessId" value="updateProc"/>
    </bean>

	<!-- The global configuration for D+ -->
    <bean id="configuration" class="org.silentsquare.dplus.Configuration">
    	<property name="newsDatabase" ref="gaeNewsDatabase"/>
    	<property name="updateKey" value="hellopiggy"/>
    </bean>
        
</beans>
