<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- Feed list builder -->
	<bean id="feedListBuilder" class="org.silentsquare.dplus.bbctnews.FeedListBuilder">
    	<property name="url" value="http://www.bbc.co.uk/travelnews/tpeg/rss.opml"/>
    </bean>
    
    <!-- News Reader -->
	<bean id="newsReader" class="org.silentsquare.dplus.bbctnews.NewsReader">
    	<property name="feedListBuilder" ref="feedListBuilder"/>
    </bean>
    
    <!-- Test news databse which is file based and does not update 
	<bean id="testNewsDatabase" class="org.silentsquare.dplus.bbctnews.TestNewsDatabase">
		<constructor-arg value="Z:/workshop/workspace/dplus/news.db"/>
		<constructor-arg ref="newsReader"/>
    </bean>
    -->
    <!-- <constructor-arg value="C:/Documents and Settings/wjfang/My Documents/workspace/dplus/news.db"/> -->
    
    <!-- Local news database that updates in seconds --> 
	<bean id="localNewsDatabase" class="org.silentsquare.dplus.bbctnews.LocalNewsDatabase">
    	<constructor-arg value="3600"/>
    	<constructor-arg ref="newsReader"/>
    </bean>

	<!-- The global configuration for D+ -->
    <bean id="configuration" class="org.silentsquare.dplus.Configuration">
    	<property name="newsDatabase" ref="localNewsDatabase"/>
    	<!-- <property name="newsDatabase" ref="testNewsDatabase"/> -->
    </bean>
        
</beans>
